/* CSS BY YOUR NAME */

/* IMPORTED FONTS*/
/* IMPORT "INTER" FROM GOOGLE FONTS"

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */

/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */
body{
    min-width: 400px;
    background: var(--white);
    
}
h1{
    color: var(--blue);
    font-family: var(--font);
    font-weight: bold;
    font-size: 2rem;
}
h2{
    color: var(--black);
    font-size: 1.75rem;
    font-weight: bold;
    font-family: var(--font);
    margin-bottom: 1rem;
}
h3{
    font-family: var(--font);
    font-size: 1.25rem;
    color: var(--white);
    font-weight: bold;
    margin-bottom: 0.5rem;
    line-height: 1.75rem;
}
p{
    color: var(--black);
    font-family: var(--font);
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
}
/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90vw;
    margin: 0 auto;
}

/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
.company-tagline{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    place-items: center;
    text-align: center; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav{
    background-color: var(--black);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 12px var(--blue);
    position: relative; 
}
nav .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  width: 100%;
  margin:0;
  padding:0;
  list-style:none;
  overflow:hidden;
  text-align:center;
  max-height: 0;

  transition: max-height .3s ease-out;
}
nav h2 {
  display: none;
  height:1px;
}
nav li a {
  display:block;
  font-family:sans-serif;
  font-size:1.5rem;
  padding:1rem;
  text-transform:uppercase;
  font-weight:bold;
  text-decoration:none;
  color: var(--blue);
  transition: background-color .3s ease-in;
}
nav a:hover {
    background-color: var(--blue);
    color: var(--black);
}
nav label {
    cursor: pointer;
    display: inline-block;
    padding: 1.5rem;
    user-select: none;
}
/* BUILDS THE MIDDLE LILNE OF THE HAMBURGER */
label span {
    background-color: white;
    display: block;
    height: .25rem;
    position: relative;
    transition: background-color .3s ease-out;
    width: 2rem;
}
/* BUILDS THE TOP AND BOTTOM LINES OF THE HAMBURGER*/
label span:before, label span:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: .75rem;
}
label span:after {
    top: -.75rem;
}
input {
  display:none;
}
/* ADDS HEIGHT THE NAV WHEN IT'S DROPPED DOWN */
input:checked ~ ul {
    max-height: 500px;
}
/* MAKES THE MIDDLE LINE OF THE HAMBURGER DISAPPEAR */
input:checked ~ label span {
    background: transparent;
}
/* ROTATES THE TOP LINE OF THE HAMBURGER INTO ONE SIDE OF THE X */
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
/* ROTATES THE BOTTOM LINE OF THE HAMBURGER INTO ONE SIDE OF THE X */
input:checked ~ label span:after {
    transform: rotate(45deg);
}
/* LOCATION OF THE HAMBURGER */
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
/* ADD FLOATING SVG LOGO BEFORE THE H1 */
.logo-name {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.logo-name::before {
    content: "";

    left:-.5rem;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;

    animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

.company-tagline{
    padding: 0 1rem;
}
.company-tagline >div{
    padding: 1rem 0.15rem;
    background-color: rgba(255, 255, 255, 0.048);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.company-tagline h2{
    color: var(--white); 
}
.company-tagline p{
    font-size: 1rem;
    font-family: var(--font);
    color: var(--white);
    font-weight:normal;
    line-height: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.company-tagline button{
    background-color: var(--blue);
    color: var(--white);
    font-family: var(--font);
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.company-tagline button:hover {
   background-color: var(--red);
   transform: scale(1.07, 1.07);
}

.white-background h2{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    
}

main h2, main h3{
    opacity: 0;
    transform: translateY(-20px);
    animation: dropIn 1s ease-out forwards; 
}

@keyframes dropIn {
    to {
    opacity: 1;
    transform: translateY(0);
  }
}

.white-background p{
    color: var(--black);
}

.offer-list{
    display: grid;
    justify-content: center;
    grid-gap: 7px;
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas:"list-title" 
                        "offer-growth"
                        "offer-investment"
                        "offer-mergers"
                        "offer-transformation"
                        "offer-advisory"
                        "offer-innovation";
}

.offer-growth{
    grid-area: offer-growth;
}
.offer-investment{
    grid-area: offer-investment;
}
.offer-mergers{
    grid-area: offer-mergers;
}
.offer-transformation{
    grid-area: offer-transformation;
}
.offer-advisory{
    grid-area: offer-advisory;
}
.offer-innovation{
    grid-area: offer-innovation;
}

.offer-list > section{
    background-color: var(--blue);
    height: auto;
    padding: 1.5rem 1rem;
    border-radius: 7px;
    color: var(--white);
    transition: transform 0.3s ease-in-out;

}
.offer-list >section:hover{
    transform: translate(0px, -5px);
}

.offer-list p{
    color: var(--white);
}
.blue-background{
    background-color: var(--blue);
    padding-bottom: 2.5rem;
    margin-top: 2rem;
}
.blue-background h2{
    color: var(--white);
    padding-top: 2rem;
}
.blue-background p{
    color: var(--white);
}
.blue-background h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.result-graphs{
    width: 100%;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas:"result-table"
                        "result-chart";

}
.result-table{
    grid-area: result-table;
}
.result-chart{
    grid-area: result-chart;
}

table{
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
}
th,td {
  padding: 0.75rem 1rem;
  border: 1px solid var(--charcoal);
  text-align: center;
  font-family: var(--font);
}
thead{
    font-weight: bold;
    font-family: var(--font);
}
tbody tr:nth-child(even) {
  background-color: var(--charcoal);
}
/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: auto;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: ;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-family: var(--font);
    font-weight: bold;
    color: var(--white);
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}
.contact-us{
    background-color: var(--black);
    color: var(--white);
    padding-bottom: 2.5rem;
    padding-top: 2rem;
}
.contact-us h2, p{
    color: var(--white);
}
form{
    margin-top: 1rem;
}
form input, form textarea {
    display: inline-block;
}
form label{
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-family: var(--font);
}
form input[type=text], form input[type=email], form textarea, select {
   box-sizing: border-box;
   width: 100%;
   padding: 0.75rem;
   margin-bottom: 1rem;
   border: 3px solid var(--blue);
   border-radius: 4px;
}
form button{
    background-color: var(--blue);
    color: var(--white);
    font-family: var(--font);
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

form button:hover {
   background-color: var(--red);
   transform: scale(1.01, 1.01);
}
footer{
    background-color: var(--black);
    border: none;
    text-align: center;
    padding: 2rem;
}
footer address, footer p{
    color: var(--white);
    text-decoration: none;
    font-family: var(--font);
    line-height: 1.25rem;
}
footer .phone{
    text-decoration: none;
    color: var(--white);
}
footer .email{
    color: var(--blue);
}


/* MEDIA QUERIES (MEDIUM) */ 
    @media (min-width: 800px){

    #menu-toggle,
    label[for="menu-toggle"] {
        display: none;
    }

    nav ul {
    max-height: none;     
    display: flex;
    gap: 1.5rem;
    width: auto;
    }
    nav li a {
    padding: 0.5rem 0;
    }

    .offer-list{
    display: grid;
    justify-content: center;
    grid-gap: 7px;
    grid-template-columns:1fr 1fr;
    grid-template-areas:"list-title ."
                        "offer-growth offer-investment" 
                        "offer-mergers offer-transformation"
                        "offer-advisory offer-innovation";
    }

    .result-graphs{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns:auto auto;
    justify-items:auto;
    grid-template-areas:"result-table result-chart";

    }

    #results {
        grid-template-columns: 1fr 1fr;
    }
    .results-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .results-table {
        width: 50%;
    }
    .bar-chart {
        width: 50%;
    }

}
/* MEDIA QUERIES (LARGE) */
@media(min-width: 1024px){
    .offer-list{
    display: grid;
    justify-content: center;
    grid-gap: 7px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:"list-title list-title list-title"
                        "offer-growth offer-investment offer-mergers"
                        "offer-transformation offer-advisory offer-innovation";
    }

    form{ 
    display: grid;
    justify-content: center;
    grid-gap: 7px 15px;
    grid-template-columns:1fr 1fr;
    grid-template-areas: "name email"
                        "company-name industry-name"
                        "details submit-form"
    }
    .name{
    grid-area: name;
    }
    .email{
    grid-area: email;
    }
    .company-name{
    grid-area: company-name;
    }
    .industry-name{
    grid-area: industry-name;
    }
    .details{
    grid-area: details;
    }
    .submit-form{
    grid-area: submit-form;
    height: fit-content;
    }


}
